body {
    background-color: #121212;
    color: #f0f0f0;
  }
  
  .sidebar {
    background-color: rgba(20, 20, 20, 0.95);
  }
  
  .spinner {
    border-top: 8px solid #bb86fc;
  }
  
  #settings-modal {
    background-color: #1e1e1e;
    color: #f0f0f0;
  }
  