body {
    background-color: #e7bf64;
    color: #111;
  }
  
  .sidebar {
    background-color: #b78637;
    border-right: 1px solid #a86f12;
  }
  
  .spinner {
    border-top: 8px solid #333;
  }
  
  #settings-modal {
    background-color: #b08d19;
    color: #c8a911;
  }
  