body {
    background-color: #ffffff;
    color: #333;
  }
  
  .sidebar {
    background-color: rgba(240, 240, 240, 0.95);
  }
  
  .spinner {
    border-top: 8px solid #007bff;
  }
  
  #settings-modal {
    background-color: #f9f9f9;
    color: #222;
  }
  