body {
    background-color: #f4f4f4;
    color: #111;
  }
  
  .sidebar {
    background-color: #e0e0e0;
    border-right: 1px solid #ccc;
  }
  
  .spinner {
    border-top: 8px solid #333;
  }
  
  #settings-modal {
    background-color: #ffffff;
    color: #000;
  }
  